.event-show-background {
  position: absolute;
  height: 1000px;
  z-index: -100;
  width: 100%;
  background-color: #F8F8FA;
}

.event-show-background-img {
  position: absolute;
  height: 500px;
  z-index: -50;
  width: 100%;
  overflow: hidden;
  filter: blur(20px);
}

.event-show-main {
  width: 75%;
  box-shadow: 1px 1px 5px #E0E0E0;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
  height: 1000px;
  background-color: white;
}

.event-show-top {
  display: flex;
  // border: 1px solid  #E0E0E0;
  height: 350px;
}

.event-show-top-right-background {
  background-color: #FAF8F9;
  width: 34%;
}

.event-show-top-right {
  margin: 30px;
}

.event-show-top-right p{
  color: gray;
}

.event-show-top-right h1{
  font-size: 35px;
  font-weight: bold;
}

.event-show-top-right h3{
  font-size: 18px;
  font-weight: 300;
  color: gray;
}

.event-show-top-right span{
  position: absolute;
  color: gray;
}

.event-show-top-left {
  width: 66%;
  // border: 1px solid #E0E0E0;
  overflow: hidden;

}

.event-show-tickets-background {
  background-color: white;
}

.event-show-tickets {
  border: 1px solid #E0E0E0;
  height: 50px;
  padding: 5px;
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.event-show-tickets-top {
  // border: 1px solid black;
  width: 30px;
  height: 100%;
  padding-top: 15px;
}

.event-show-tickets-bottom {
  // border: 1px solid black;
  height: 100%;
  width: 250px;
}

.event-show-tickets-bottom button{
  float: right;
  background-color: green;
  font-size: 18px;
  color: white;
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

.event-show-tickets-bottom button:hover {
  background-color: #1C5400;
}

.event-show-bottom {
  // border: 1px solid black;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.event-show-bottom h1 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.event-show-bottom p {
  color: gray;
}

.event-show-bottom-left {
  // border: 1px solid black;
  width: 66%;
  padding-right: 50px;
}

.event-show-bottom-left p{
  // border: 1px solid black;
  width: 66%;
  padding-right: 50px;
  font-weight: 300;
}

.event-show-bottom-right {
  // border: 1px solid black;
  width: 34%;
}

.event-show-bottom-right p, .event-show-bottom-right ul li{
  // border: 1px solid black;
  color: #818488;
  font-weight: 300;
}

.event-show-tags {
  display: flex;
  float: left;
  margin-right: 10px;
}

.event-show-tags div{
  margin-right: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 auto;
  width: 100px;
}

.event-show-tags h1 {
  margin: 0 auto;
  text-align: center;
}


.event-show-tags h1:hover {
  color: #008EDD;
}

.event-show-tags div:hover {
  border: 1px solid #008EDD;
}
