.event-index-item-main {
  height: 125px;
  background-color: white;
}

.event-index-item-img{
  display: flex;
  height: 70%;
}

.event-index-item-img-left{
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.event-index-item-img-left img{
  // border: 1px solid black;
}

.event-index-item-img-right {
  padding: 15px 20px;
  border-left: 1px solid #E0E0E0;

}

.event-index-item-img-right h2,
.user-index-item-img-right h2,
.user-show-ticket-index-item-info h2{
  color: #777A7D;
  font-size: 14px;
  font-weight: 400;
}

.event-index-item-img-right h1,
.user-index-item-img-right h1,
.user-show-ticket-index-item-info h1 {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}

.event-index-item-img-right h3,
.user-index-item-img-right h3 {
  font-weight: 300;
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}

.event-index-item-info {
  display: flex;
  height: 30%;
  border-top: 1px solid #E0E0E0;
}

.event-index-item-info-left {
  background-color: #EFF2F5;
  width: 25%;
  align-content: center;
}

.event-index-item-info-left p{
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
  color: #383C45;
}

.event-index-item-info-right {
  width: 75%;
  background-color: white;
  display: flex;
  justify-content: space-between;

}

.event-index-item-info-right-span {
  // border: 1px solid black;
  float: left;
  padding: 10px 10px 0px 10px;
  color: #898B8F;
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px;
}

.event-index-item-info-right-span-glyphicon {
  // border: 1px solid black;
  float: right;
  padding: 10px 10px 0px 10px;
  border-left: 1px solid #E0E0E0;

}

.fa-bookmark-o {
  color: #B0B2B7;
}

.fa-bookmark-o:hover {
  color: #5EB8E6;
  cursor: pointer;
}

.fa-bookmark{
  color: #0091DA;
}

.fa-bookmark:hover{
  color: #5EB8E6;
  cursor: pointer;
}

























// comment
