.event-form-create {
  width: 100%;
  height: 80px;
  font-size: 30px;
  padding: 20px;
  align-content: center;
}

.event-form-step {
  width: 100%;
  height: 50px;
  background-color: #45494F;
}

.event-form-background {
  position: absolute;
  height: 1000px;
  z-index: -100;
  width: 100%;
  background-color: #F8F8FA;
}

.event-form-main-page {
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
}

.event-form-main-page input, textarea{
  border: 1px solid black;
  height: 30px;
}

.event-form-one, .event-form-two, .event-form-three {
  display: flex;
  border-bottom: 1px solid gray
}

.event-form-one span, .event-form-two span, .event-form-three span {
  width: 50px;
  background-color: #0091DA;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
}

.event-form-one h1, .event-form-two h1, .event-form-three h1 {
  font-size: 30px;
  padding: 10px;
  color: gray;
}

.event-form-done {
  width: 100%;
  height: 100px;
  padding: 75px;
  align-content: center;
  border: 1px solid black;
}

.event-form-done h1{
  font-size: 40px;
  font-weight: bold;
}

.event-form-done input{
  color: white;
  background-color: #00B646;
  width: 220px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  border: none;
}
