.event-index-background {
  position: absolute;
  height: 1000px;
  z-index: -100;
  width: 100%;
  background-color: #F8F8FA;
}

.event-index-content {
  margin: 0 auto;
  width: 75%;
}

.event-index-main ul li{
  margin: 10px 10px;
  // border: 1px solid black;
  box-shadow: 1px 1px 5px #888888;
}

.event-index-info {
  margin-top: 50px;
}

.event-index-info h1 {
  font-size: 40px;
}

.event-index-list, .event-index-info {
  width: 75%;
  height: 150px;
  float: right

}
