.homepage {
  background-color: #F8F8FA;
}

.homepage-img-div {
  width: 100%;
  height: 425px;
  overflow: hidden;
  background-position: center;
  background-image: url('outside.jpg');
}

.homepage-search {
  background-color: white;
  position: relative;
  width: 65%;
  height: 125px;
  border-radius: 3px;
  margin:0 auto;
  text-align: center;
  margin-top: -150px;
  z-index: 200;
  padding: 40px;
  opacity: .99;
  vertical-align: middle;
  box-shadow: 1px 1px 3px #888888;

}

.homepage-search h1 {
  font-size: 50px;
  color: #FF5200;
  padding-top: 30px;
  font-weight: 100;
}

.homepage-bottom {
  height: 100px;
  background-color: #F8F8FA;
}

.homepage-categories h1 {
  font-size: 30px;
  color: gray;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 100;

}

.homepage-categories-main {
  height: 730px;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.homepage-categories-one,
.homepage-categories-two,
.homepage-categories-three {
  display: flex;
  height: 220px;
  justify-content: space-between;
  margin-bottom: 20px;

}

.homepage-categories-one-top,
.homepage-categories-three-bottom {
  height: 100%;
  width: 66%;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  overflow: hidden;
  position:relative;
}

.homepage-categories-one-top-info,
.homepage-categories-one-bottom-info,
.homepage-categories-two-top-info,
.homepage-categories-two-middle-info,
.homepage-categories-two-bottom-info,
.homepage-categories-three-top-info,
.homepage-categories-three-bottom-info {
  z-index: 100;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.homepage-categories-one-top-info a,
.homepage-categories-one-bottom-info a,
.homepage-categories-two-top-info a,
.homepage-categories-two-middle-info a,
.homepage-categories-two-bottom-info a,
.homepage-categories-three-top-info a,
.homepage-categories-three-bottom-info a{
  font-size: 25px;

}

.homepage-categories-one-top-info p,
.homepage-categories-one-bottom-info p,
.homepage-categories-two-top-info p,
.homepage-categories-two-middle-info p,
.homepage-categories-two-bottom-info p,
.homepage-categories-three-top-info p,
.homepage-categories-three-bottom-info p,{
  font-size: 14px;
  font-weight: 300;
}

.homepage-categories-one-top-text,
.homepage-categories-one-bottom-text,
.homepage-categories-two-top-text,
.homepage-categories-two-middle-text,
.homepage-categories-two-bottom-text,
.homepage-categories-three-top-text,
.homepage-categories-three-bottom-text{
  // display: none;
  align-content: center;
  text-align: center;
  width: 100%;
  transition: all .3s ease-in-out;
  transform: scale(.000001);
  position: absolute;

}

.homepage-categories-one-top-text p,
.homepage-categories-one-bottom-text p,
.homepage-categories-two-top-text p,
.homepage-categories-two-middle-text p,
.homepage-categories-two-bottom-text p,
.homepage-categories-three-top-text p,
.homepage-categories-three-bottom-text p{
  text-align: center;
}

.homepage-categories-one-top:hover
.homepage-categories-one-top-text,
.homepage-categories-one-bottom:hover
.homepage-categories-one-bottom-text,
.homepage-categories-two-top:hover
.homepage-categories-two-top-text,
.homepage-categories-two-middle:hover
.homepage-categories-two-middle-text,
.homepage-categories-two-bottom:hover
.homepage-categories-two-bottom-text,
.homepage-categories-three-top:hover
.homepage-categories-three-top-text,
.homepage-categories-three-bottom:hover
.homepage-categories-three-bottom-text, {
  // display: block;
  transform: scale(1);
  position: relative;
  }

.homepage-categories-one-top img,
.homepage-categories-one-bottom img,
.homepage-categories-two-top img,
.homepage-categories-two-middle img,
.homepage-categories-two-bottom img,
.homepage-categories-three-top img,
.homepage-categories-three-bottom img {
  -webkit-transition: all 1s;
  transition: all 1s;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.homepage-categories-one-top:hover img,
.homepage-categories-one-bottom:hover img,
.homepage-categories-two-top:hover img,
.homepage-categories-two-middle:hover img,
.homepage-categories-two-bottom:hover img,
.homepage-categories-three-top:hover img,
.homepage-categories-three-bottom:hover img, {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(7px);
}

.homepage-categories-one-bottom,
.homepage-categories-two-top,
.homepage-categories-two-middle,
.homepage-categories-two-bottom,
.homepage-categories-three-top, {
  height: 100%;
  width: 32%;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  overflow: hidden;
  position:relative;
}
