.homepage {
  background-color: #F8F8FA;
}

.homepage-img-div {
  width: 100%;
  height: 425px;
  overflow: hidden;
  background: center center;
}

.homepage-search {
  background-color: white;
  position: relative;
  width: 65%;
  height: 125px;
  border-radius: 3px;
  margin:0 auto;
  text-align: center;
  margin-top: -150px;
  z-index: 200;
  padding: 40px;
  opacity: .95;
  vertical-align: middle;
}

.homepage-search h1 {
  font-size: 50px;
  color: orange;
}

.homepage-bottom {
  height: 500px;
  background-color: #F8F8FA;
}

.homepage-categories h1 {
  font-size: 30px;
  color: gray;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.homepage-categories-main {
  height: 500px;
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
}

.homepage-categories-one {
  display: flex;
  height: 225px;
  border: 1px solid black;
}

.homepage-categories-one-top {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  width: 60%;
}

.homepage-categories-one-top h1{
  position: absolute;
  color:white;
  width: 100px;
  top: 700px;
  left: 100px;
}
.homepage-categories-one-top img{
  position: relative;
  width: 100%;
}

.homepage-categories-one-bottom {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  width: 30%;
}

.homepage-categories-one-bottom img{
  position: relative;
  width: 100%;
}
