.login-signup-header {
  background: white;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  z-index: 1;
  width: 100%;
}

.login-signup-header a {
  display: block;
  padding: 20px 20px;
  color: orange;
}

.login-signup-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.login-signup-logo {
  border-right: 1px solid #E0E0E0;
  font-weight: 700;
  font-size: 16px;
}

.login-signup-header-list {
  display: flex;
}

.login-signup-header-list > li {
  border-left: 1px solid #E0E0E0;
  position: relative;
  font-size: 14px;
}

.login-signup-header-list > li:not(:last-child):hover {
  background: gray;
}

.login-signup-dropdown {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

li:hover .login-signup-dropdown {
  display: block;
}

.login-signup-dropdown > li {
  border-top: 1px solid #E0E0E0;
  color: #000;
}

.login-signup-dropdown > li:hover {
  background: gray;
}
