.signin-signup-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.signin-signup-names input[type="text"] {
  width: 120px;
  height: 20%;
}

.signin-signup-names-first {
  // float: left;
}
.signin-signup-names-last{
  // float: right;
}
