.user-show-index-main {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.user-show-index-main ul {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;

}

.user-index-item-li {
  width: 31%;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 5px #888888;

}

.user-index-item-img-right {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 15px;
  height: 75px;
}

.user-index-item-img-right h2 {
  color: gray;
  font-size: 14px;
}

.user-index-item-img-right h1 {
  font-size: 20px;
  margin-top: 5px;
}

.user-index-item-img-right h3 {
  color: gray;
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
}

.user-index-item-info-right {
  display: flex;
  align-content: center;
  text-align: center;
}

.user-index-item-info-right div:first-child{
  height: 35px;
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 180px;
  border-right: 1px solid #E0E0E0;
}

.user-index-item-info-right div:last-child{
  margin-top: 10px;
  margin-left: 10px;
}


.user-index-item-img-left {
  height: 150px;
  border: 1px solid red;
  background-color: red;
}

.user-index-item-info-left {
  position: relative;
  z-index: 100;
  background-color: white;
  opacity: .8;
  padding: 5px;
  padding-bottom: 5px;
  float: right;
  height: 15px;
  font-size: 14px;
  text-align: center;
  margin: 10px;
  opacity: .8;
}
