.user-show-index-main {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

// .user-show-index-main ul {
//   justify-content: space-between;
//   margin: 0 auto;
//   display: flex;
//
// }

.user-index-item-li {
  width: 29%;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 5px #888888;
  float:left;
  margin: 20px;
}

.user-index-item-img-right {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 15px;
  height: 75px;
}

.user-index-item-img-right h2 {
  color: gray;
  font-size: 12px;
  // font-weight: 100;
}

.user-index-item-img-right h1 {
  font-size: 18px;
  margin-top: 5px;
}

.user-index-item-img-right h3 {
  color: gray;
  font-size: 14px;
  font-weight: 100;
  margin-top: 5px;
}

.user-index-item-info-right {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: space-between;

}

.user-index-item-info-right-span-tags{
  float: left;
  padding: 14px 10px 0px 10px;
  color: #707378;
  font-size: 13px;
  font-weight: 100;
  // border: 1px solid black;
}

.user-index-item-info-right-glyph{
  // border: 1px solid black;
  float: right;
  padding: 14px 10px 14px 10px;
  border-left: 1px solid #E0E0E0;

}


.user-index-item-img-left {
  height: 150px;
  // border: 1px solid red;
  // background-color: red;
  overflow: hidden;
  width: 100%;
  // position:absolute;
}
